{% extends 'base.html.twig' %}


{% block stylesheets %}
<link href= '{{ asset("styles/css/timer.css")}}' rel="stylesheet">
{% endblock %}
{% block body %}
{{parent()}}
<h2>Scramble : {{ scramble }}</h2>
<div class="box-timer">
<div data-controller="timer"
    class="timer" data-timer-target="timer">0.00</div>
</div>



{% endblock %}
{% block title %}Hello TimerController!{% endblock %}



