{% extends 'base.html.twig' %}

{% block body %}
{{parent()}}



<div data-controller="timer" data-timer-url-value="{{ path('app_timer_generate_scramble')}}">
    <div class="box-timer-solves">
        <div class="choose-session" >
            <select placeholder="Choisir une session" id="sessions-list" data-timer-target="listofsessions" data-action="change->timer#changeSession">
            <option value="">--Sélectionner une session--</option>
            </select>
            <button data-action="click->timer#createSession">+</button>
            <span>
            Activer l'inspection
            <input class="allow-inspection" type="checkbox" data-timer-target="inspectioncheckbox" data-action="click->timer#setInspection"/>
            </span>
        </div>
        <div class="box-timer" >
            <h2 class="scramble" data-timer-target="scramble">Aucun event n'a été choisi.</h2>
            <div class="timer-state"  data-timer-target="timer">XX.XX</div>
            
            <div class="times-and-draw">
            {{ include('solve/index.html.twig') }}
            <div class="cube-drawer-component" data-timer-target="cubedrawer" style="color:white;"></div>
            </div>
            
        </div>
    </div>
    
    
</div>



{% endblock %}



