{% extends 'base.html.twig' %}

{% block title %}Kakitimer{% endblock %}

{% block body %}
{{parent()}}

<div class="welcome-and-logo">
    <h1 style="font-size:100px"> Bienvenue sur KakiTimer !</h1>
    <img src="{{ asset('img/kakitimer-alpha.png') }}">
    <a href="/timer"><button class="go-timer-button">Timer</button></a>
</div>

{% endblock %}
