:root{
    //selon le type de cube à afficher cela sera changé côté JS.
    --face-columns : 1fr 1fr 1fr;
    --face-rows : 1fr 1fr 1fr;
}

.box-timer-solves{
    display: flex;
    
}

.box-timer {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}
.timer {
    font-size: 30px;
}

#cube-drawed {
    display: flex;
    max-width: 300px;
    flex-direction: column;
    background-color: black;
   // :last-child {
     //   margin-left: 50px;
    //}
}




.face {
    display: grid;
    grid-template-columns:var(--face-columns);
    grid-template-rows:  var(var(--face-rows));
    width: 0px;
    margin:10px;
    gap:1px

}

.the-line-on-patron {
    display: flex;
    flex-direction: row;
    gap: 40px;
}