body {
    .box-timer-solves {
        display: flex;
        flex-direction: column;


        .box-timer {
            display: flex;
            flex-direction: column;
            background-color: lightgray;
            align-items: center;

            .scramble {
                background-color: black;
                color: white;
            }

            .timer-state {
                margin: 0px 100px;
                font-size: 30px;
            }

            .times-and-draw {
                display: grid;
                grid-template-columns: 8fr 2fr;
                width: 100%;
            }


            .cube-drawer-component {
                display: flex;
                background-color: black;
                min-width: auto;
                align-self: flex-end;

                .cube-scrambled {
                    display: grid;
                    grid-template-areas: "a b c d"
                        "e e e e"
                        "f g h i";

                    .face {
                        display: grid;
                        margin: 5px;
                        gap: 1px;
                    }

                    >.face-0 {
                        grid-area: b;
                    }

                    >.face-5 {
                        grid-area: g;
                    }

                    >.the-line-on-patron {
                        grid-area: e;
                        display: flex;
                        flex-direction: row;
                    }
                }

            }

        }


    }
}